{% extends "layout.html" %}
{% block content %}
<html>
<title>Code Completion</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="w3-container">
        <form action="" method="POST">
            <br>
            <label>Wite your code: </label>
            {{form.csrf_token}}
            {{form.name()}}
            {{form.submit()}}
        </form>

        <br>

        <hr>
        {% if name %}
            Given code : {{name}}
            <br>
            Prediction : {{code}}
        {% endif %}
        <hr>
    </div>
</html>
{% endblock%}
